# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
end_of_line = lf
insert_final_newline = true

[*.{js,ts,jsx,tsx}]
charset = utf-8

[Makefile]
indent_style = tab

[src/**.{ts,tsx}]
indent_style = space
indent_size = 2

[{package.json}]
indent_style = space
indent_size = 2